<div class="container">
  <h1 class="text-center mt-3 mb-3">Angular Github search app</h1>
  <div class="input-group mb-3">
    <input type="search" #searchQuery class="form-control" placeholder="Search for git repos...">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button" (click)="gitSearchResults(searchQuery)">
        <img src="/assets/icons/search-icon.svg" alt="">
      </button>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let result of results">
      <div class="media">
        <img style="max-width: 40px;" class="mr-3" src="{{result.owner.avatar_url}}" alt="">
        <div class="media-body">
          <h2 class="mt-0 mb-0">{{result.name}}</h2>
          <a href="{{result.html_url}}">Go to repo</a>
          <p>
            {{result.description}}
          </p>
        </div>
      </div>
    </li>
  </ul>

  <nav *ngIf="showPagination" aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
      <li (click)="prevPage(searchQuery)" [hidden]="pageNumber == 1" class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li (click)="nextPage(searchQuery)" class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
  <p *ngIf="noresults">No results found</p>
</div>
